<div style="display: flex;">
    <div class="posts-list">
        <% site.posts.sort('date', -1).forEach(post=> { %>
          <h2 class="post-link-wrapper">
              
              <a target="_blank" class="post-link" href="<%- post.path %>">
                  # <%- post.title %>
              </a>
              <div class="post-link-clone" >
                  # <%- post.title %>
                  
              </div>
          </h2>
      
        <% }) %>
    </div>

    <div id="tags">
        <%- tag_cloud(site.tags) %> 
    </div>
</div>

<% site.pages.forEach(post=> { %>
  <div>页面</div>
  <h2>
    <a href="<%- post.path %>">
      <%- post.title %>
    </a>
  </h2>

<% }) %>

<div class="cursor"></div>