<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="<%- url_for('/css/index.css') %> " />
    <title>
        <% if(page.title) { %>
            <%- page.title %> - septlog
        <% } else { %>
            septlog
        <% } %>
    </title>
</head>

<body style="position: relative">
    <%- partial('partial/header') %>
    <%- body %>
    <%- partial('partial/footer') %>
    <script>
        let x, y;
        let mouseX = 0;
        let mouseY = 0;
        let diffX;
        let diffY;
        let distanceX;
        let distanceY;
        
        let cursorElement = document.querySelector('.cursor');

        document.addEventListener('mousemove', (e) => {
            x = `${e.clientX - cursorElement.clientWidth / 2}px`
            y = `${e.clientY - cursorElement.clientHeight / 2}px`
        });

        const mouseMove = () => {
            window.requestAnimationFrame(mouseMove)
            
            cursorElement.style.left = x;
            cursorElement.style.top = y;
            
            
        }
        mouseMove()
        

    </script>
</body>

</html>